@use '../abstracts/mixins';
@use '../abstracts/vars';

.toast {
  @include mixins.setDims(80%, auto, relative);
  max-width: 25vw;

  z-index: 10;
  pointer-events: all;

  border-radius: .5em;
  overflow: hidden;

  text-align: center;
  padding: 1em 2em;

  animation: show 300ms forwards, hide 300ms 4900ms forwards;
  transition: all .2s ease;

  @include mixins.for-phone-only {
    @include mixins.setDims(50vw, auto, relative);
    max-width: none;
  }

  &[data-type="info"] {
    background: vars.$info;

    .loadBar {
      background: vars.$info-loader;
    }
  }

  &[data-type="warning"] {
    background: vars.$warning;

    .loadBar {
      background: vars.$warning-loader;
    }

    .close {
      img {
        fill: #fff;
      }
    }
  }

  &[data-type="success"] {
    background: vars.$success;

    .loadBar {
      background: vars.$success-loader;
    }

    .close {
      img {
        fill: #fff;
      }
    }
  }

  .close {
    @include mixins.setDims(2em, 2em, absolute);
    right: 0;
    top: 0;
    cursor: pointer;

    img {
      @include mixins.setDims(auto, 3em);
    }
  }

  .loadBar {
    @include mixins.setDims(100%, .2em, absolute);
    left: 0;
    bottom: 0;
    border-radius: 1em;

    animation: loading 5s linear forwards;
  }

}

@keyframes show {
  0% {
    opacity: 0;
    bottom: -5em;

  }

  100% {
    opacity: 1;
    bottom: 0;

  }
}

@keyframes hide {
  100% {
    opacity: 0;
    bottom: -5em;

  }

  0% {
    opacity: 1;
    bottom: 0;

  }
}

@keyframes loading {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}