//THEME
$primary: #262920;
$secondary: #1e2019;
$triary: #ff6933; //#de6449;
$white-text-color: #fbf5f3;
$pinkish-text-color: #DFBCB4;

//REACTIONS
$like-color: #50C878;
$love-color: #800F14;
$dislike-color: #DEB841;
$trash-color: #1E2019;

//TOASTS
$info: #fc0;
$info-loader: rgb(240, 102, 22);
$warning: #f46531;
$warning-loader: rgb(243, 160, 64);
$warning-close: $pinkish-text-color;
$success: #46d76f;
$success-loader: hsl(155, 80%, 40%);