@use './abstracts/mixins';
@use './abstracts/vars';

.editorContainer{

  flex: 5;
  overflow-y: scroll;
  color: vars.$triary;
  line-height: 1em;
  letter-spacing: .1em;


  .lines{
    @include mixins.setDims(48px, 100%);
    //background:black; 
    display: flex;
    flex-direction: column;
    overflow:hidden;
  
    //! disabling scroll
    ::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
    }
  
    padding: 18px 0 18px 0;
    
    float:left;

    .number{
      @include mixins.resetTextarea();
      @include mixins.setDims(auto, 100%);

      overflow-wrap: normal;
      overflow: hidden;

      text-align: center;
      line-height: 1.4em;

      color: vars.$triary;
      
    }
  }
  
  .editor{
    @include mixins.setDims(calc(100% - 48px), auto);
    @include mixins.for-tablet-portrait{
      border-radius: 0 18px 18px 0;
    }
    
    min-height: 100%;
  
    float:left;

    padding: 18px 0 18px 0;
    background: vars.$secondary;


    .textarea{
      @include mixins.setDims(100%, 100%);
      //! resetting styles
      @include mixins.resetTextarea;

      @include mixins.for-phone-only{
        padding-right: 3em;
      }
      
      padding-left: 1em;


      //background:black;

      color: vars.$white-text-color;
      

      line-height: 1.4em;
    }
  }


  //? small setup for scrollbar
  scrollbar-color:  vars.$primary vars.$secondary;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
      //background-color: vars.$secondary;
      border-radius: 90px;
      @include mixins.for-phone-only{
        background-color: vars.$secondary;
        border-radius: 0px;
      }
  }

  &::-webkit-scrollbar-thumb {
    background-color: vars.$triary;
    border-radius: 20px 100px 100px 20px;
    
    @include mixins.for-phone-only{
      border-radius: 70px 0px 0px 70px;
    }
  }

}
