@use 'abstracts/mixins';
@use 'abstracts/vars';

$optionBarWidth: 230px;


.app{
  @include mixins.setDims(100vw, 100vh);
  background: vars.$triary;
  

  .container{
    @include mixins.setDims(98%, 95%, absolute);
    @include mixins.setAbs(2%, auto, 2.5%, auto);
    overflow: hidden;
    display: flex;

    border-radius: 18px 0px 0px 18px;

    background: vars.$primary;

    // .textEditor{
    //   // @include mixins.setDims(auto, calc(100% - 36px));

      
    // }

    .optionBar{
      @include mixins.setFlexbox{
        flex-direction: column;
        align-content: center;
      }
      @include mixins.for-phone-only{
        @include mixins.setDims(50vw, 100%, absolute);

        border-radius: 18px 0 0 18px;
        right: min(-50vw, 0px - $optionBarWidth);
        transition: all .5s ease;
        z-index: 1;
      }

      
      flex:1;
      min-width: $optionBarWidth;
      background:vars.$primary;
    }

    .burger{
      @include mixins.setDims(2em, 2em, absolute);


      top: 1.2em;
      right: 1em;
      border-radius: 10px;
      cursor: pointer;
      z-index: 2;

      transition: all .2s ease;

      &:hover{
        background: vars.$primary;
      }
      
      
      img{
        @include mixins.setDims(auto, 2em);
      }
      
      @include mixins.for-tablet-portrait{
        display:none;
      }
    }

    .copy{
      @include mixins.setDims(3em, 3em, absolute);

      z-index: 0;
      box-sizing: content-box;
      bottom: 2.4em;
      right: calc($optionBarWidth + 5vw);
      border-radius: 5px;
      border: 2px solid vars.$primary;
      cursor: pointer;

      transition: all .2s ease;

      background: vars.$secondary;

      &:hover{
        background: vars.$primary;
      }
      
      
      img{
        @include mixins.setDims(auto, 3em);
      }
      
      @include mixins.for-phone-only{
        @include mixins.setDims(2em, 2em, absolute);
        bottom: 2.4em;
        right: 1em;
        border: none;

        img{
          @include mixins.setDims(auto, 2em);
        }
      }
    }
  }
}