@use 'abstracts/mixins';
@use 'abstracts/vars';


.app{
  @include mixins.setDims(100vw, 100vh);
  background: vars.$triary;
  

  .container{
    @include mixins.setDims(98%, 95%, absolute);
    @include mixins.setAbs(2%, auto, 2.5%, auto);
    display: flex;

    border-radius: 18px 0px 0px 18px;

    background: vars.$primary;

    // .textEditor{
    //   // @include mixins.setDims(auto, calc(100% - 36px));

      
    // }

    .optionBar{
      @include mixins.for-phone-only{
        display:none;
      }
      
      flex:1;

      background:vars.$primary;
    }
  }
}