@use './abstracts/mixins';
@use './abstracts/vars';

.logo{
  flex: 1;
  padding: 0 20% 0 20%;

  @include mixins.setFlexbox{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

.settings{
  @include mixins.setFlexbox{
    flex-direction: column;
  }
  flex:2;
  
  .button{
    @include mixins.setFlexbox{
      justify-content: center;
      align-items: center;
    }
    flex: 1;

    text-align: center;
    font-size: 2em;
    color: vars.$triary;
    border-radius: 5px 0px 0 5px;
    
    cursor: pointer;

    transition: all .2s ease-in-out;

    &:hover{

      background-color: vars.$triary;
      color: vars.$secondary;
    }
  }
}

.reactions{
  flex:3;
  text-align: center;
  color:white;
}